<div class='row'>
<div class='col-md-2'>
<div class="list-group">
                <a href='/dashboard/host' class='list-group-item {{ host_active }}'>Hosts</a>
                <a href='/dashboard/container' class='list-group-item {{ container_active }}'>Containers</a>
                <a href='/dashboard/task' class='list-group-item {{ task_active }}'>Tasks</a>
                <a href='/dashboard/notification' class='list-group-item {{ notification_active }}'>Benachrichtigungen</a>
</div>
</div>
