{% extends '_default.html' %}
{% block title %} - Benutzerkonto {% endblock %}
{% block content %}
{% include '_header.html' %}
<div class='col-md-5 col-md-offset-4'>
    <h3> Benutzerkonto Informationen</h3>
    <div class='well'>
<div class='row tb'>
    <div class='col-md-6'>
        Username
    </div>
    <div class='col-md-6'>
        {{ user.username }}
    </div>
</div>
<div class='row tb'>
    <div class='col-md-6'>
        Emailadresse
    </div>
    <div class='col-md-6'>
        {{ user.email }}
    </div>
</div>
<div class='row tb'>
    <div class='col-md-6'>
        Name
    </div>
    <div class='col-md-6'>
        {{ user.first_name }} {{ user.last_name }}
    </div>
</div>
</div>
</div>
{% endblock %}
