{% extends '_default.html' %}
{% block title %} - Dashboard {% endblock %}
{% block content %}
{% include '_header.html' %}
<div class='col-md-6 col-md-offset-3'>
<div class='row well'>
    <div class='col-md-6'>
        Username
    </div>
    <div class='col-md-6'>
        {{ user.username }}
    </div>
</div>
<div class='row well'>
    <div class='col-md-6'>
        Emailadresse
    </div>
    <div class='col-md-6'>
        {{ user.email }}
    </div>
</div>
<div class='row well'>
    <div class='col-md-6'>
        Name
    </div>
    <div class='col-md-6'>
        {{ user.first_name }} {{ user.last_name }}
    </div>
</div>
</div>
{% endblock %}
