{% extends '_default.html' %}
{% block title %} - Dashboard {% endblock %}
{% block content %}
{% include '_header.html' %}
<div class='row'>
<div class='col-md-10 col-md-offset-1'>
    <div class='row'>
        <div class='col-md-5 well col-md-offset-1'>
            <h2>
    Docker-Hosts
</h2>
<p>
  Verwaltung der Rechner, auf denen Docker-Container gestartet werden.
</p>
<p>
    <a class='btn' href='/dashboard/host'>Weiter »</a>
</p>
        </div>
        <div class='col-md-5 well col-md-offset-1'>
            <h2>
    Docker-Containers
</h2>
<p>
  Starten, stoppen und löschen von Docker-Container.
</p>
<p>
    <a class='btn' href='/dashboard/container'>Weiter »</a>
</p>
        </div>
        <div class='col-md-5 well col-md-offset-1'>
            <h2>
    Tasks
</h2>
<p>
  Ansicht aller aktuelle und bereits ausgeführten Aufträge.
</p>
<p>
    <a class='btn' href='/dashboard/task'>Weiter »</a>
</p>
        </div>

        <div class='col-md-5 well col-md-offset-1'>
            <h2>
    Statusverlauf
</h2>
<p>
    Historie des Status eines Docker-Hosts oder Docker-Container.
</p>
<p>
    <a class='btn' href='/dashboard/history'>Weiter »</a>
</p>
</div>
</div>
</div>
{% endblock %}
