{% extends '_default.html' %}
{% block title %} - Dashboard {% endblock %}
{% block content %}
{% include '_header.html' %}
{% include '_navleft.html' %}
<div class='col-md-6 well'>
    <div class='row'>
        <div class='col-md-2'>
            {% if docker_container.status == 'online' %}
            <i class='glyphicon glyphicon-ok-sign statusglyphicon okayglyphicon'></i>
            {% else %}
            <i class='glyphicon glyphicon-exclamation-sign statusglyphicon alertglyphicon'></i>
            {% endif %}
        </div>
        <div class='col-md-10 h3'>
            {{ docker_container.name }}
        </div>
    </div>
    <div class='row tb'>
        <div class='col-md-4'>
            Description
        </div>
        <div class='col-md-8'>
            {{ docker_container.description }}
        </div>
    </div>
    <div class='row tb'>
        <div class='col-md-4'>
            Status
        </div>
        <div class='col-md-8'>
            {{ docker_container.status }}
        </div>
    </div>
    <div class='row tb'>
        <div class='col-md-4'>
            Last update
        </div>
        <div class='col-md-8'> {{ docker_container.last_update }}
        </div>
    </div>
    <div class='row tb'>
        <div class='col-md-4'>
            Image
        </div>
        <div class='col-md-8'>
            {{ docker_container.image }}
        </div>
    </div>
    <div class='row tb'>
        <div class='col-md-4'>
            Running on Host:
        </div>
        <div class='col-md-8'>
            <a href='/dashboard/host/{{docker_container.docker_host.id}}'>{{ docker_container.docker_host.name }}</a
        </div>
    </div>
    <div class='row tb'>
    </div>
    <div class='row tb'>
        <div class='col-md-4'>
            <button class='btn btn-default'>Start Container</button>
        </div>
        <div class='col-md-4'>
            <button class='btn btn-default'>Stop Container</button>
        </div>
        <div class='col-md-4'>
            <button class='btn btn-default'>Delete Container</button>
        </div>
    </div>
</div>
</div>
{% endblock %}
