{% extends '_default.html' %}
{% block title %} - Dashboard {% endblock %}
{% block content %}
{% include '_header.html' %}
{% include '_navleft.html' %}
<div class='col-md-9'>
    <div class='row' style='margin-bottom:20px'>
		 <a  data-toggle="collapse" href="#element-host-add"><i class='glyphicon glyphicon-plus' style='font-size:20px'></i> Add Host</a>
		 <div id="element-host-add" class="collapse">
					<div class='panel-body'>
    	                   <form class='form-inline' role="form" action="/dashboard/host/" method="post">{% csrf_token %}
                               <div class="form-group">
                                   <label class="sr-only" for="inputName">Name</label>
                                   <input type="text" class="form-control" id="inputName" name="hostname" placeholder="Name">
                               </div>
                               <div class="form-group">
                                   <label class="sr-only" for="inputDescription">Beschreibung</label>
                                   <input type="text" class="form-control" id="inputDescription" name="hostdescription" placeholder="Beschreibung">
                               </div>
                               <button type="submit" class="btn btn-default btn-success"><i class="glyphicon glyphicon-plus"></i></button>
                           </form>
                    </div>
				</div>
            </div>
    <div class="col-md-3 input-group">
    <input id="filter_row" type="text" class="form-control" placeholder="Filtern nach...">
    </div>
    <div class='filter_row tb'>
    {% for docker_host in docker_host_list %}
    <div class='row well'>
            <div class='col-md-1'>
                {% if docker_host.status == 'Online' %}
                <i class='glyphicon glyphicon-ok-sign statusglyphicon okayglyphicon'></i>
                {% else %}
                <i class='glyphicon glyphicon-exclamation-sign statusglyphicon alertglyphicon'></i>
                {% endif %}
            </div>
            <div class='col-md-3'>
                {{ docker_host.name }}
                {% if docker_host.to_delete %}
                <p class='deleteflag'>Zur Entfernung markiert<p>
                {% endif %}
            </div>
            <div class='col-md-4'>
                Letzte Aktualisierung: {{ docker_host.last_update }}
            </div>
            <div class='col-md-3'>
                Status: {{ docker_host.status }}
            </div>
            <div class='col-md-1'>
                <a href='/dashboard/host/{{ docker_host.id }}'><i class='glyphicon glyphicon-eye-open buttonglyphicon'></i></a>
            </div>
    </div>
    {% endfor %}
</div>
</div>
</div>
{% endblock %}
