{% extends '_default.html' %}
{% block title %} - Dashboard {% endblock %}
{% block content %}
{% include '_header.html' %}
{% include '_navleft.html' %}
<div class='col-md-9'>
    <div class="col-md-3 input-group">
    <input id="filter_table" type="text" class="form-control" placeholder="Filtern nach...">
    </div>
    <table class='table table-striped'>
        <thead>
        <tr>
            <td>
                ID
            </td>
            <td>
                Type
            </td>
            <td>
                Status
            </td>
            <td>
                Erstelldatum
            </td>
            <td>
                Letzte Aktualisierung
            </td>
            <td>
                Docker-Container
            </td>
            <td>
                Docker-Host
            </td>
        </tr>
        </thead>
        <tbody class='filter_table'>
        {% for task in task_list %}
        {% if task.status == 'Failed' %}
        <tr class='warntr'>
        {% else %}
        <tr>
        {% endif %}
            <td>
                {{ task.id }}
            </td>
            <td>
                {{ task.task_template.name }}
            </td>
            <td>
                {{ task.status }}
            </td>
            <td>
                {{ task.create_timestamp }}
            </td>
            <td>
                {{ task.update_timestamp }}
            </td>
            <td>
                <a href='/dashboard/container/{{ task.docker_container.id }}/'>{{ task.docker_container.name }}</a>
            </td>
            <td>
                <a href='/dashboard/host/{{ task.docker_container.docker_host.id }}/'>{{ task.docker_container.docker_host.name }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
</div>
{% endblock %}
